/* src/assets/styles/utils/_variables.scss  */

/* colors */
$blue: #009cf0;
$darkslategray: #1f273e;
$grey-text: #a1a1a1;
$grey: #f7f7f7;
$lightseagreen: #29c59c;
$red: #ff6163;

/* dimensions */
$nav-width: 290px;
$grid-width: 1200px;

/* another */
