/* src/assets/styles/utils/_variables.scss  */

/* colors */
$color-primary-green: rgba(91, 202, 210, 1);
$color-secodary-red: rgba(233, 55, 69, 1);
$color-secodary-blue: rgba(26, 36, 66, 1);
$color-background-blue: rgba(6, 15, 35, 1);
$color-primary-black: rgba(0, 0, 0, 1);
$color-primary-white: rgba(255, 255, 255, 1);

/* dimensions */
$header-h: 72px;
$footer-h: 248px;

/* another */
