// src/views/components/social/social.scss

.social {
  a {
    margin: 0 15px;

    &:hover {
      svg {
        fill: #3abae9;
      }

      /* img {
        //filter: invert(69%) sepia(13%) saturate(3996%) hue-rotate(162deg) brightness(99%) contrast(85%);
      } */
    }
  }

  svg {
    fill: #176d9e;
  }

  /* img {
    //filter: invert(26%) sepia(27%) saturate(6003%) hue-rotate(183deg) brightness(92%) contrast(82%);
  } */
}
