//- src/views/components/social/social.pug
|
|
.social 
  |
  |
  a(href="#") 
    |
    |
    svg
    |
    |
  |
  |
  a(href="#") 
    |
    |
    svg
    |
    |
  |
  |
  a(href="#") 
    |
    |
    svg
    |
    |
  |
  |
|
|