extends ../templates/_inner-hack-template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  | 
  | 
  .page-hack
    | 
    |
    .page-hack__list
      |
      |
      .page-hack__for-message Записываем в базу...
      |
      |
      ul.list-ok 
        |
        |
        li 
          .h5 Соединение
          <svg width="18" height="13">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
          </svg>
        |
        |
        li 
          .h5 Профиль
          <svg width="18" height="13">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
          </svg>
        |
        |
        li 
          .h5 Верификация
          <svg width="18" height="13">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
          </svg>
        |
        |
        li 
          .h5 Зашифрованные данные
          <svg width="18" height="13">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
          </svg>
        |
        |
        li 
          .h5 Сообщения
          <svg width="18" height="13">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
          </svg>
        |
        |
        li 
          .h5 Фото и видое файлы
          <svg width="18" height="13">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
          </svg>
        |
        |
        li 
          .h5 Логин/Пароль
          <svg width="18" height="13">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
          </svg>
        |
        |
        li 
          .h5 Данные авторизации
          <svg width="18" height="13">
            <use xlink:href='./assets/svg/svg_sprite.svg#icon-ok'></use> 
          </svg>
        |
        |
      |
      | 
    |
    |
    .page-hack__empty
      |
      |
      | ывавыавы авы ыва ыва выавы аыв ы ывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ы
      | ывавыавы авы ыва ыва выавы аыв ы ывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ы
      | ывавыавы авы ыва ыва выавы аыв ы ывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ы
      | ывавыавы авы ыва ыва выавы аыв ы ывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ы
      | ывавыавы авы ыва ыва выавы аыв ы ывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ы
      | ывавыавы авы ыва ыва выавы аыв ы ывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ы
      | ывавыавы авы ыва ыва выавы аыв ы ывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ы
      | ывавыавы авы ыва ыва выавы аыв ы ывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ыывавыавы авы ыва ыва выавы аыв ы
      |
      |  
    |
    |
  |
  |