extends ../templates/_inner-template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='')

block content
  | 
  |
  .page-instruction 
    |
    |
    .stages 
      |
      |
      .container
        |
        |
        .h2.stages__title Инструкция
        |
        |
        .stages__list 
          |
          |
          .stages__item
            .step 
              .step__content
                .step__count 1
                .step__text 
                  | Зарегистрируйтесь <br>
                  | на сайте 
          |
          |
          .stages__item
            .step 
              .step__content
                .step__count 2
                .step__text 
                  | Определитесь с аккаунтом, <br>
                  | который хотите восстановить 
          |
          |
          .stages__item
            .step 
              .step__content
                .step__count 3
                .step__text 
                  | Скопируйте никнейм аккаунта, <br>
                  | или перепишите в это поле  
          |
          |
          .stages__item
            .step 
              .step__content
                .step__count 4
                .step__text Дождитесь процесс получения данных авторизации нашей системой  
          |
          |
          .stages__item
            .step  
              .step__content
                .step__count 5
                .step__text 
                  | Оплатите, чтобы получить доступ <br>
                  | уже подготовленным данным  
          |
          |
          .stages__item
            .step  
              .step__content
                .step__count 6
                .step__text 
                  | Войдите в желаемый <br>
                  | аккаунт
          |
          |
          .stages__item
            .step  
              .step__content
                .step__count 7
                .step__text 
                  | Оставьте положительный отзыв, <br>
                  | если вам все понравилось
          |
          |
        |
        |
      |
      |
    | 
    |  
    .page-instruction__aside 
      |
      |
      img(src="./assets/svg/figure-4.svg", alt="", loading="lazy").figure.figure-4
      |
      |
      img(src="./assets/svg/figure-1.svg", alt="", loading="lazy").figure.figure-1
      |
      |
      img(src="./assets/svg/figure-2.svg", alt="", loading="lazy").figure.figure-2
      |
      |
      img(src="./assets/svg/figure-3.svg", alt="", loading="lazy").figure.figure-3 
      |
      |
    |
    |
  |
  |