extends ../templates/_ui-kit-template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='') 

block content 
  |
  |
  .container
    |
    |
    ul.list-ui-kit 
      |
      |
      li 
        |
        |
        .h3
          a(href="./index.html").link index
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./ui-kit.html").link ui-kit
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./instruction.html").link instruction
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./profile.html").link profile
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./hack.html").link hack
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./hack-2.html").link hack-2
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./hack-3.html").link hack-3
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./wallet.html").link wallet
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./available.html").link available
        |
        |
      |
      |
      li 
        |
        |
        .h3
          a(href="./support.html").link support
        |
        |
      |
      | 
    |
    |   
  |
  | 