extends ../templates/_ui-kit-template.pug

block title
  title Заголовок

block basicSeo
  meta(name='description' content='Описание страницы')
  meta(name='keywords', content='')
  meta(name='author' content='') 

block content 
  |
  |
  .container
    |
    |
    ul.list-ui-kit 
      |
      |
      li 
        |
        |
        a(href="./index.html").link index
        |
        |
      |
      |
      li 
        |
        |
        a(href="./ui-kit.html").link ui-kit
        |
        |
      |
      |
      li 
        |
        |
        a(href="./instruction.html").link instruction
        |
        |
      |
      |
      li 
        |
        |
        a(href="./profile.html").link profile
        |
        |
      |
      |
      li 
        |
        |
        a(href="./.html").link new page
        |
        |
      |
      |
      li 
        |
        |
        a(href="./.html").link new page
        |
        |
      |
      | 
    |
    |   
  |
  | 