//- src/views/components/tabs/tabs.pug

mixin tabs(args)
  .tabs(
    class=args.class
  )
    |
    |
    each item in args.array
      button.tabs__item(class=item.class 
      data-toggle=item.datatoggle ? item.datatoggle : null)=item.text
    |
    | 

