//- src/views/components/breadcrumbs/breadcrumbs.pug
|
|
//.breadcrumbs
ul.breadcrumbs
  li
    a(href="#") Ссылка_1
  li
    a(href="#") Ссылка_2
  li
    a(href="#") Ссылка_3
  li
    a(href="#") Ссылка_4
  li
    a(href="#") Текущая страница
//.breadcrumbs/
|
|
