//- src/views/components/header/header-index.pug
|
|
header#header.header.header-index
  |
  |
  .container
    |
    |
    a(href="./" title="Главная").logo
      img(src="assets/svg/header-logo-star.svg", alt="" loading="lazy").logo__img
      .logo__text Tit-tok vzlom
    |
    |
    ul.menu-list#myMenu
      |
      |
      li.menu-list__item
        |
        |
        a.menu-list__link.active(href="#methods", data-menuanchor="methods") Метод работы
        |
        |
      |
      |
      li.menu-list__item
        |
        |
        a.menu-list__link(href="#compatibility", data-menuanchor="compatibility") Совместимость
        |
        |
      |
      |
      li.menu-list__item
        |
        |
        a.menu-list__link(href="#guarantees", data-menuanchor="guarantees") Гарантии
        |
        |
      |
      |
      li.menu-list__item
        |
        |
        a.menu-list__link(href="#stages", data-menuanchor="stages") Этапы
        |
        |
      |
      |   
    |
    |
    //button(
      type="button"
      class="btn-red" 
      data-popup=".popup-login"
      ) 
        span Личный кабинет 
    button(type="button", data-popup=".popup-login").btn-red
      span Личный кабинет
      <svg width="14" height="18" class="icon">
        <use xlink:href='./assets/svg/svg_sprite.svg#icon-human'></use> 
      </svg>
    |
    |
  |
  |
|
|
