|
|
ul.menu-list
  |
  |
  li.menu-list__item
    |
    |
    a.menu-list__link(href="/") Метод работы
    |
    |
  |
  |
  li.menu-list__item
    |
    |
    a.menu-list__link(href="/") Совместимость
    |
    |
  |
  |
  li.menu-list__item
    |
    |
    a.menu-list__link(href="/") Гарантии
    |
    |
  |
  |
  li.menu-list__item
    |
    |
    a.menu-list__link(href="/") Этапы
    |
    |
  |
  |    
|
|  