//- src/views/components/header/header-ui-kit.pug
|
|
header#header.header
  |
  |
  .container
    |
    |
    a(href="./" title="Главная").logo
      img(src="assets/svg/header-logo-star.svg", alt="" loading="lazy").logo__img
      .logo__text Tit-tok vzlom
    |
    |
       
    |
    |
    button(
      type="button"
      class="btn-red" 
      data-popup=".popup-login"
    ) 
      span Личный кабинет 
    |
    |
  |
  |
|
|
