//- src/views/components/header/header-ui-kit.pug
|
|
header#header.header
  |
  |
  .container
    |
    |
    a(href="./" title="Главная").logo
      img(src="assets/svg/header-logo.svg", alt="" loading="lazy")
    |
    |
       
    |
    |
    +btn-red({
      type: 'button',
      class: 'btn-red',
      text: 'Личный кабинет',
      disabled: null
    })
    |
    |
  |
  |
|
|
