//- src/views/components/header/header.pug
|
|
header.header
  |
  |
  h3 Здесь Хедер
  |
  |
  //-a(href="./" title="Главная").logo
    img(src="assets/svg/logo.svg", alt="" loading="lazy")
  |
  |
  include ./headerMenu
  |
  |
|
|
