//- src/views/components/footer/footer-index.pug
|
|
footer#footer.footer.footer-index.section.fp-auto-height
  |
  |
  .container 
    |
    |
    a(href="./" title="Главная").logo
      img(src="assets/svg/header-logo-star.svg", alt="" loading="lazy").logo__img
      .logo__text Tit-tok vzlom
    |
    |
    .footer__separator
    |
    |
    .footer__lines
      |
      |
      .footer__line
        |
        |
        .pay-sistems
          |
          |
          .pay-sistems__title Платежные системы
          |
          |
          .pay-sistems__icons 
            <svg width="43" height="28" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#mastercard'></use> 
            </svg>
            <svg width="77" height="25" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#visa'></use> 
            </svg>
            <svg width="31" height="30" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#sberbank'></use> 
            </svg>
            <svg width="30" height="33" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#yandex'></use> 
            </svg>
            <svg width="73" height="30" class="icon">
              <use xlink:href='./assets/svg/svg_sprite.svg#qiwi'></use> 
            </svg>
          |
          |
        |
        |
      |
      |
      .footer__line
        span.small-text Tik-tok vzlom © 2020
        a(href="#").small-text.link Политика конфиденциальности
      |
      |
    |
    |
  |
  |
|
|