/* src/assets/styles/common/_general.scss  */

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  background-color: $color-secodary-blue;

  @media screen and(max-width: 800px) {
    font-size: 13px;
    line-height: 16px;
  }

  .wrap-main,
  .wrap-inner {
    margin-bottom: auto;
  }
}

.bg-060F23 {
  background-color: #060f23;
}

.container {
  position: relative;
  max-width: 1522px;
  width: 100%;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  display: block;
}

svg {
  transition: stroke 0.3s, fill 0.3s;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.h1 {
  font-size: 64px;
  font-weight: bold;
  font-style: normal;
  line-height: 72px;

  @media screen and(max-width: 800px) {
    font-size: 40px;
    line-height: 48px;
  }
}

.h2 {
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  line-height: 56px;

  @media screen and(max-width: 800px) {
    font-size: 28px;
    line-height: 32px;
  }
}

.h3 {
  font-size: 32px;
  line-height: 40px;

  @media screen and(max-width: 800px) {
    font-size: 22px;
    line-height: 32px;
  }
}

.h4 {
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 32px;

  @media screen and(max-width: 800px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.h5 {
  font-size: 24px;
  font-weight: lighter;
  font-style: normal;
  line-height: 32px;

  @media screen and(max-width: 800px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.h6 {
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: 24px;

  @media screen and(max-width: 800px) {
    font-size: 13px;
    line-height: 24px;
  }
}

.small-text {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;

  @media screen and(max-width: 800px) {
    font-size: 10px;
    line-height: 16px;
  }
}

.list-ui-kit {
  list-style-type: none;
  margin: 0;
  padding: 50px;

  li {
    margin: 10px 0;
    position: relative;
    min-height: 10px;
  }
}

.max-h-40 {
  max-height: 40px;
}

.max-w-320 {
  max-width: 320px;
}

.color-white {
  color: white;
}

.half-transparent {
  opacity: 0.5;
}

.load-more {
  display: inline-flex;
  align-items: center;

  // .load-more__icon
  &__icon {
    stroke: $color-primary-green;
    fill: transparent;
    margin-right: 8px;
    transition: transform 1s;
  }

  // .load-more__text
  &__text {
    color: $color-primary-green;
  }

  &:hover {
    .load-more__icon {
      transform: rotate(360deg);
    }
  }
}

.first {
  color: #ffffff;
  //height: calc(100vh - 72px - 248px);
  display: flex;
  align-items: center;

  // .first__text
  &__text {
    width: 50%;
    margin-left: auto;
    z-index: 2;
    position: relative;
  }

  // .first__img
  &__img {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(10%, -38%);
  }

  .container {
    position: relative;
  }

  .h1 {
    margin-bottom: 10px;
  }

  .h5 {
    font-weight: 300;
    margin-bottom: 40px;
    max-width: 490px;
  }
}

.methods {
  color: #ffffff;
  //height: calc(100vh - 72px - 248px);
  display: flex;
  align-items: center;

  // .methods__text
  &__text {
    max-width: 690px;
  }

  // .methods__list
  &__list {
    margin: 60px 0 0;
    padding: 0;
    list-style-type: none;
    column-count: 3;

    li {
      position: relative;
      padding: 0 0 0 24px;
      margin: 0 0 16px;
    }

    .icon {
      position: absolute;
      left: 0;
      top: 4px;
    }
  }

  .h2 {
    margin-bottom: 20px;
  }

  .h5 {
    color: rgba(255, 255, 255, 0.7);
  }
}

.compatibility {
  color: #ffffff;
  //height: calc(100vh - 72px - 248px);
  display: flex;
  align-items: center;
  overflow: hidden;

  // .compatibility__icon
  &__icon {
    margin-bottom: 20px;
  }

  // .compatibility__text
  &__text {
    max-width: 520px;
  }

  // .compatibility__img
  &__img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -30%);
  }

  .container {
    position: relative;
  }

  .h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 28px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.pay-sistems {
  // .pay-sistems__title
  &__title {
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 2px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #d4d4d4;

    @media screen and(max-width: 800px) {
      text-align: center;
    }
  }

  // .pay-sistems__icons
  &__icons {
    display: inline-flex;
    align-items: flex-end;

    @media screen and(max-width: 640px) {
      margin: 0 -4px;
    }

    .icon {
      margin-right: 16px;

      @media screen and(max-width: 640px) {
        margin: 0 4px;
        width: 25%;
      }
    }
  }
}

.profile-short {
  display: inline-flex;
  align-items: center;

  .line-attention {
    margin-right: 34px;
  }

  .wallet-info {
    margin-left: 12px;
  }

  .short-avatar {
    margin-left: 12px;
  }

  .btn-menu {
    margin-left: 12px;
  }
}

.line-attention {
  display: inline-flex;

  svg {
    stroke: white;
    fill: transparent;
  }

  a {
    margin-left: 12px;

    &.active {
      svg {
        fill: #5bcad2;
        stroke: #060f23;
      }
    }

    &:hover {
      svg {
        fill: #5bcad2;
        stroke: #060f23;
      }
    }
  }
}

.wallet-info {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 5px 18px;
  color: #ffffff;
  background-color: #232e50;
  border-radius: 57px;
  text-decoration: none;

  // .wallet-info__amount
  /* &__amount {
  } */

  // .wallet-info__symbol
  &__symbol {
    margin: 0 8px 0 4px;
  }

  // .wallet-info__icon
  &__icon {
    /* .icon-1 {
    } */

    .icon-2 {
      display: none;
      transform: translate(0, -3px);
    }
  }

  &.active,
  &:hover {
    background-color: #5bcad2;
    color: #111b33;

    .icon-1 {
      display: none;
    }

    .icon-2 {
      display: block;
    }
  }
}

.short-avatar {
  width: 40px;
  height: 40px;
  text-decoration: none;
  flex-shrink: 0;

  .wrap-img {
    border-radius: 100%;
    background-color: #e1dedd;
    overflow: hidden;
    width: 100%;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      object-position: center center;
    }
  }
}

.btn-menu {
  width: 12px;
  height: 20px;
  position: relative;

  span {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-35deg);
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #ffffff;
    transition: all 0.3s;

    &:nth-of-type(1) {
      top: 50%;
    }

    &:nth-of-type(2) {
      top: 15%;
    }

    &:nth-of-type(3) {
      top: 85%;
    }
  }

  &:hover {
    span {
      transform: translate(-50%, -50%) rotate(0deg);
      background-color: #5bcad2;
    }
  }
}

.logo {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;

  // .logo__img
  &__img {
    flex-shrink: 0;
  }

  // .logo__text
  &__text {
    margin-left: 16px;
  }
}

.stages {
  //height: calc(100vh - 72px - 248px);
  display: flex;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
  }

  // .stages__title
  &__title {
    color: #ffffff;
  }

  // .stages__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    @media screen and(max-width: 640px) {
      margin-top: 12px;
    }

    &::before {
      content: '';
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #e93745;
      position: absolute;
      top: 50%;
      left: 0;

      @media screen and(max-width: 1200px) {
        width: 2px;
        height: calc(100% - 60px);
        top: 50%;
        transform: translate(0, -50%);
      }

      @media screen and(max-width: 640px) {
        height: calc(100% - 24px);
      }
    }
  }

  // .stages__item
  &__item {
    width: 25%;
    margin: 40px 0;

    @media screen and(max-width: 1200px) {
      width: 30%;
      margin: 30px 10px;
    }

    @media screen and(max-width: 800px) {
      width: calc(50% - 36px);
      margin: 30px 0 30px 36px;
    }

    @media screen and(max-width: 640px) {
      width: calc(100% - 36px);
      margin: 12px 0 12px 36px;
    }

    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7) {
      .step__count::before {
        bottom: auto;
        top: -30px;

        @media screen and(max-width: 1200px) {
          top: auto;
          bottom: -30px;
        }

        @media screen and(max-width: 800px) {
          bottom: auto;
          left: -15px;
          top: 49%;
        }
      }
    }
  }
}

.step {
  display: flex;
  flex-direction: column;
  max-width: 320px;

  // .step__content
  &__content {
    display: inline-flex;
    align-items: center;
  }

  // .step__count
  &__count {
    font-weight: 300;
    font-size: 56px;
    line-height: 64px;
    color: $color-secodary-red;
    margin-right: 16px;
    position: relative;

    @media screen and(max-width: 800px) {
      font-size: 40px;
      line-height: 48px;
    }

    &::before {
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: $color-secodary-red;
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translate(-50%, 0);

      @media screen and(max-width: 800px) {
        bottom: auto;
        left: -15px;
        top: 49%;
      }
    }
  }

  // .step__text
  &__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}

.guarantees {
  //height: calc(100vh - 72px - 248px);
  display: flex;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
  }

  // .guarantees__title
  &__title {
    color: #ffffff;
  }

  // .guarantees__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // align-content: space-around;
    height: 100%;
  }

  // .guarantees__item
  &__item {
    width: calc(50% - 50px);
    margin: 5vh 0;
  }
}

.warranty {
  // .warranty__icon
  &__icon {
    height: 160px;
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 5px;
  }

  // .warranty__title
  &__title {
    margin-bottom: 6px;
    color: #5bcad2;
  }

  // .warranty__text
  &__text {
    color: #ffffff;
  }
}

#fp-nav.fp-right {
}

#fp-nav ul li a {
  position: relative;

  &.active {
    background-color: #ffffff;
    border-radius: 100%;
  }
}

#fp-nav ul li,
.fp-slidesNav ul li {
  width: 8px;
  height: 8px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  margin: 16px;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  margin: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid #ffffff;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bg-white {
  background-color: #ffffff;
}

.load-line {
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0px;
  background-color: #e93745;
  z-index: 5;
  transform: scaleX(0);
  transition: transform 0s;
  transform-origin: left center;

  &.load-25 {
    transform: scaleX(0.25);
  }

  &.load-50 {
    transform: scaleX(0.5);
  }

  &.load-75 {
    transform: scaleX(0.75);
  }

  &.load-100 {
    transform: scaleX(1);
  }
}

.form-1 {
  .clip-input {
    margin-right: 16px;
  }
}

.form-hack {
  width: 100%;
  max-width: 400px;
  text-align: center;

  @media screen and(max-width: 640px) {
    max-width: calc(100% - 32px);
    padding: 60px 0 95px;
  }

  .uni-input {
    height: 72px;

    @media screen and(max-width: 640px) {
      height: 56px;
    }

    input {
      text-align: center;
    }
  }

  .btn--white {
    @media screen and(max-width: 640px) {
      width: 100%;
    }
  }
}

.form {
  // .form__row
  &__row {
    margin-bottom: 24px;

    @media screen and(max-width: 800px) {
      margin-bottom: 16px;
    }

    &.last {
      margin-bottom: 0;
      margin-top: 32px;

      @media screen and(max-width: 800px) {
        margin-top: 24px;
      }
    }
  }

  .uni-input {
    max-width: 100%;
  }
}

.form-login {
  .form__row.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form-registration {
  position: relative;
}

.form-forget-password {
  .form__row.last {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.form-profile {
  .form__row {
    margin-bottom: 32px;

    @media screen and(max-width: 640px) {
      margin-bottom: 24px;
    }
  }

  .form__row.last {
    margin-bottom: 0;
  }
}

.checkable {
  display: flex;
  align-items: center;

  border-radius: 8px;
  padding: 5px 42px 5px 18px;
  transition: all 0.3s;
  position: relative;
  min-height: 48px;
  cursor: pointer;

  &:hover {
    .bg {
      border: 1px solid #060f23;
    }

    svg {
      stroke: #060f23;
    }
  }

  // .checkable__text
  &__text {
    position: relative;
  }

  // .checkable__icon
  &__icon {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%);
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #ffffff;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: white;
    border: 1px solid #4f4f4f;
    transition: all 0.3s;
  }

  svg {
    stroke: #a7a7a7;
    fill: transparent;
  }

  input {
    display: none;
  }

  input:checked ~ .bg {
    background-color: #060f23;
  }

  input:checked ~ .checkable__text {
    color: #ffffff;
  }

  input:checked ~ .checkable__icon svg {
    stroke: #060f23;
  }
}

#form-profile-readonly {
  input {
    cursor: default;
  }
}

#form-profile-live.form-profile {
  .form__row.last {
    display: flex;

    .btn {
      margin-right: 20px;
      height: 40px;

      @media screen and(max-width: 640px) {
        margin-right: 12px;
        width: 100%;
      }
    }

    .btn-transparent {
      height: 40px;
      width: 102px;
      flex-shrink: 0;

      @media screen and(max-width: 640px) {
        width: 92px;
      }
    }
  }
}

.dn {
  display: none;
}

.width-122px {
  width: 122px;
}

.width-154px {
  width: 154px;
}

.width-100 {
  width: 100%;
}

.list-ok {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #ffffff;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    max-width: 330px;

    @media screen and(max-width: 640px) {
      margin-bottom: 8px;
    }
  }

  .h5 {
    font-weight: 300;
  }

  svg {
    margin-left: auto;
    stroke: #5bcad2;
  }
}

.payment-block {
  // .payment-block__row
  &__row {
    display: flex;

    &.last {
      margin-top: 16px;
    }
  }

  .uni-input {
    margin-right: 20px;
    max-width: 100%;
  }

  .btn--white {
    white-space: nowrap;
    max-width: 164px;
    position: relative;

    @media screen and(max-width: 800px) {
      height: 40px;
      width: 86px;

      span {
        display: none;
      }

      .bg::before {
        content: 'Оплатить';
        position: absolute;
        width: 100%;
        height: 40px;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #232e50;
        font-weight: 500;
      }
    }
  }
}

.uni-table {
  border-collapse: collapse;
  color: #ffffff;
  text-align: left;
  width: 100%;

  tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  }

  th {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.3);
    padding: 10px 6px;

    &.last {
      text-align: right;
    }
  }

  td {
    padding: 10px 6px;
    height: 88px;

    @media screen and(max-width: 640px) {
      height: 112px;
    }

    &.last {
      text-align: right;
    }
  }

  .id {
    position: relative;
  }

  .date {
    position: relative;
  }

  .user {
    position: relative;
  }

  .data {
    position: relative;
  }

  .look {
    position: relative;
  }

  .status {
    position: relative;
  }

  .summ {
    position: relative;
  }

  .payed {
    position: relative;

    &::before {
      content: '';
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: -22px;
      transform: translate(0, -50%);
      width: 6px;
      height: 6px;
      background-color: #5bcad2;

      @media screen and(max-width: 640px) {
        width: 4px;
        height: 4px;
        left: -10px;
      }
    }
  }

  .no-pay {
    position: relative;

    &::before {
      content: '';
      border-radius: 100%;
      position: absolute;
      top: 50%;
      left: -22px;
      transform: translate(0, -50%);
      width: 6px;
      height: 6px;
      background-color: #e93745;

      @media screen and(max-width: 640px) {
        width: 4px;
        height: 4px;
        left: -10px;
      }
    }
  }
}

.uni-mob-hide {
  display: none;
}

.uni-mob-show {
  display: block;
}

.user-block {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;

  // .user-block__wrap-img
  &__wrap-img {
    margin-right: 12px;
    border-radius: 100%;
    overflow: hidden;

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }

  // .user-block__name
  &__name {
    position: relative;
  }
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 16px;
  z-index: 2;

  @media screen and(max-width: 640px) {
    background-color: #1a2442;
  }

  // .user-info__title
  &__title {
    color: #ffffff;
    text-align: center;
  }

  // .user-info__wrap-ava
  &__wrap-ava {
    margin-bottom: 40px;

    @media screen and(max-width: 1000px) {
      display: none;
    }
  }

  // .user-info__list
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      margin-bottom: 8px;
      display: flex;
      align-items: center;
    }

    .item,
    .status {
      flex-shrink: 0;
    }

    .lines {
      width: 100%;
      border-bottom: 1px dashed #ffffff;
      height: 16px;
      opacity: 0.1;
      margin: 0 8px;

      @media screen and(max-width: 800px) {
        height: 13px;
      }
    }
  }

  // .user-info__wrap-list
  &__wrap-list {
    margin-bottom: 65px;
    color: #ffffff;
    max-width: 464px;
    width: 100%;

    @media screen and(max-width: 800px) {
      margin-bottom: 28px;
      max-width: 100%;
    }

    .small-text {
      opacity: 0.5;
    }
  }

  // .user-info__wrap-payment
  &__wrap-payment {
    max-width: 464px;
    width: 100%;

    @media screen and(max-width: 800px) {
      max-width: 100%;
    }
  }

  .wrap-avatar {
    overflow: hidden;
    border-radius: 100%;
    margin: 0 auto;
    width: 144px;
    height: 144px;
    margin-bottom: 20px;

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }
}

.alt-menu {
  background-color: #060f23;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  transition: all 0.3s;
  opacity: 0;
  pointer-events: none;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  @media screen and(max-width: 640px) {
    padding: 48px 24px 24px;
  }

  // .alt-menu__close
  &__close {
    position: absolute;
    top: 12px;
    right: 16px;
    padding: 0;
    z-index: 3;

    svg {
      stroke: #ffffff;
      fill: transparent;
      transition: all 0.3s;
    }

    &:hover {
      svg {
        stroke: rgba(91, 202, 210, 1);
      }
    }
  }

  // .alt-menu__content
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;

    @media screen and(max-width: 640px) {
      height: 100%;
    }
  }

  // .alt-menu__ava
  &__ava {
    height: 176px;
    background: #1a2442;
    border-radius: 24px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  // .alt-menu__wallet
  &__wallet {
    margin-bottom: 16px;
  }

  // .alt-menu__ancor
  &__ancor {
    border-bottom: 1px solid #323a52;
    text-align: center;

    &:last-of-type {
      border-bottom: 1px solid transparent;
    }

    svg {
      margin-right: 12px;
      stroke: #ffffff;
      fill: transparent;
    }

    a {
      display: inline-flex;
      align-items: center;
      padding: 16px 0;
      color: #ffffff;
      text-decoration: none;

      &:hover,
      &.active {
        color: rgba(91, 202, 210, 1);

        svg {
          stroke: rgba(91, 202, 210, 1);
        }
      }
    }
  }

  // .alt-menu__exit
  &__exit {
    display: inline-flex;
    align-items: center;
    padding: 16px 0;
    color: #ffffff;
    text-decoration: none;
    margin-top: auto;

    svg {
      margin-right: 8px;
      fill: transparent;
      transform: translate(0, 2px);
    }

    a {
      display: inline-flex;
      align-items: center;
      padding: 16px 0;
      color: #ffffff;
      text-decoration: none;
      margin: 0 auto;

      &:hover,
      &.active {
        color: rgba(91, 202, 210, 1);
      }
    }
  }

  .wallet-info {
    height: 48px;
    width: 100%;
    justify-content: center;
    border-radius: 16px;
  }

  .wrap-ava {
    border-radius: 100%;
    width: 72px;
    height: 72px;
    margin-bottom: 6px;

    img {
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 100%;
    }
  }

  .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
  }
}

.rating {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  margin-bottom: 40px;

  input {
    display: none;
  }

  label {
    cursor: pointer;
    width: 66px;
    height: 50px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }

    .empty {
      opacity: 1;
    }

    .full {
      opacity: 0;
    }
  }
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  .empty {
    opacity: 0;
  }

  .full {
    opacity: 1;
  }
}

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  .empty {
    opacity: 0;
  }

  .full {
    opacity: 1;
  }
}
